.innerMenu .btn{
  margin: 5px;
}
.innerMenu{
  margin-bottom: 5px;
}

*{
    font-family: tahoma;
}

.savediv{
  text-align: center;
}
.RowItem{
  cursor: pointer;
}
.RowItem:hover{
  background-color: #eee!important;
}
